.puntos-numerados {
    margin-bottom: 50px;
}

.bullet-points {
    padding-inline-start: 45px;
    /* margin-bottom: 45px; */
}
/* .bullet-point {
   font-weight: normal;
    margin-top: 10px; 
    padding-inline-start: 15px;
}
*/
